---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>
{% assign journal_papers = site.publications | where: "category", "journal articles" | sort: "date" | reverse %}
{% for post in journal_papers %}
  {% include archive-single.html %}
{% endfor %}

<h2>Book Chapters</h2>
{% assign book_chapters = site.publications | where: "category", "book chapters" | sort: "date" | reverse %}
{% for post in book_chapters %}
  {% include archive-single.html %}
{% endfor %}

<h2>International Conferences</h2>
{% assign conference_papers = site.publications | where: "category", "conference papers" | sort: "date" | reverse %}
{% for post in conference_papers %}
  {% include archive-single.html %}
{% endfor %}
